<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- html head-->
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Jingeore</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
  <style>
    .container{
      max-width: 100%;
    }
  </style>
</head>

<!-- 네비게이션 바 -->
<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" th:href="@{/}">Logo</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <form>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item px-1" sec:authorize="!isAuthenticated()">
        <a class="nav-link active " aria-current="page" th:href="@{/login}">Sign in</a>
      </li>
      <li class="nav-item px-1" sec:authorize="!isAuthenticated()">
        <a class="nav-link active" th:href="@{/sign-up}">Sign up</a>
      </li>
      <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${account.getNickname()}" width="24" height="24" class="rounded border bg-light"></svg>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><p class="text-center" th:text="${account.getNickname()}">닉네임</p></li>
          <li><a class="dropdown-item text-center" th:href="@{'/profile/' + ${account.getNickname()}}">프로필</a></li>
          <li><a class="dropdown-item text-center" href="#">프로필 메뉴2</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <form  class="form-inline my-2 my-lg-0" action="#"  th:action="@{/logout}" method="post">
              <button class="dropdown-item text-center" type="submit">로그아웃</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- 프로필 수정 좌측 메뉴바 -->
<div th:fragment="settings-menu (currentMenu)" class="list-group">
  <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" th:href="@{/settings/nickname}">닉네임 수정</a>
  <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" th:href="@{/settings/password}">패스워드 수정</a>
  <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profileImage'}? active" th:href="@{/settings/profileImage}">프로필 이미지 수정</a>
</div>

<!-- 입력값 검증 스크립트 -->
<script th:fragment="validation" type="application/javascript">
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>

</html>