<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
<h3>AJAX 사용</h3>
<p>책 정보 입력</p>
<div>
  <form id="form" th:object="${book}">
    <table border=1>
      <tr>
        <td>책제목</td>
        <td>
          <input type="text" th:field="*{title}" placeholder="책 제목을 입력하세요">
        </td>
      </tr>
      <tr>
        <td>저자명</td>
        <td>
          <input type="text" th:field="*{creator}" placeholder="저자명을 입력하세요">
        </td>
      </tr>
      <tr>
        <td>출판사</td>
        <td>
          <input type="text" id="publisher" name="publisher"  placeholder="출판사명을 입력하세요">
        </td>
      </tr>
      <tr>
        <td>출판연도</td>
        <td>
          <input type="text" th:field="*{publishedYear}">
        </td>
      </tr>
    </table>
    <button type="button" onclick="inputData(this)" >입력</button>
  </form>
</div>

<div id="list">
  <th:block th:if="${bookMap != null}">
    <h3>책 목록</h3>
    <table border=1>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
        <th>출판연도</th>
      </tr>
      <tr th:each="entry : ${bookMap}" th:with="book=${entry.value}">
        <td th:text="${book.seq}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.creator}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.publishedYear}"></td>
      </tr>
    </table>
  </th:block>
</div>

</body>
</html>