<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
    <div th:replace="fragments.html :: navbar"></div>
    <div class="container py-5 px-4">

      <div class="row rounded-lg justify-content-center">
        <div class="col-6 px-0">
          <div class="px-4 py-5 bg-white">
            <div class="justify-content-center">
              <p class="text-center">상대방 정보</p>
              <hr>
            </div>
            <div class="justify-content-center">
              <p class="text-center">상품 정보</p>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="row rounded-lg justify-content-center">
        <!-- Chat Box-->
        <div class="col-6 px-0">
          <div class="px-4 py-5 chat-box bg-white">
            <!-- Sender Message-->
            <h6>nickname</h6>
            <div class="media w-100 mb-3 d-flex flex-row">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Test which is a nefasdfasdfasdxdsfasdfasfasfasdfasdfasdffasdfasdfasdfasdfasdfasdfasdfaw approach all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Reciever Message-->
            <div class="media w-100 ml-auto mb-3 d-flex flex-row-reverse">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">Test which isasdfasdfasdfasdfasdfadsadsf a new approach to have all solutions</p>
                </div>
                <p class="small text-muted text-end">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Sender Message-->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media w-100 mb-3 d-flex flex-row">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Test which is a nefasdfasdfasdxdsfasdfasfasfasdfasdfasdffasdfasdfasdfasdfasdfasdfasdfaw approach all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Reciever Message-->
            <div class="media w-100 ml-auto mb-3 d-flex flex-row-reverse">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">Test which isasdfasdfasdfasdfasdfadsadsf a new approach to have all solutions</p>
                </div>
                <p class="small text-muted text-end">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Sender Message-->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media w-100 mb-3 d-flex flex-row">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Test which is a nefasdfasdfasdxdsfasdfasfasfasdfasdfasdffasdfasdfasdfasdfasdfasdfasdfaw approach all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Reciever Message-->
            <div class="media w-100 ml-auto mb-3 d-flex flex-row-reverse">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">Test which isasdfasdfasdfasdfasdfadsadsf a new approach to have all solutions</p>
                </div>
                <p class="small text-muted text-end">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Sender Message-->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media w-100 mb-3 d-flex flex-row">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Test which is a nefasdfasdfasdxdsfasdfasfasfasdfasdfasdffasdfasdfasdfasdfasdfasdfasdfaw approach all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Reciever Message-->
            <div class="media w-100 ml-auto mb-3 d-flex flex-row-reverse">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">Test which isasdfasdfasdfasdfasdfadsadsf a new approach to have all solutions</p>
                </div>
                <p class="small text-muted text-end">12:00 PM | Aug 13</p>
              </div>
            </div>


          <!-- Typing area -->
          <form action="#" class="bg-light">
            <div class="input-group">
              <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
<style>
  body {
    background-color: #999999;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }

  .my-color {
    background-color: #111111;
  }

  .text-small {
    font-size: 0.9rem;
  }

  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }

  .rounded-lg {
    border-radius: 0.5rem;
  }

  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
</style>
</html>