<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navbar"></div>
<div class="container">
  <div th:replace="fragments.html :: redirect-message"></div>
  <div class="row mt-5 justify-content-center">
    <div class="col-2 mt-5">
    </div>
    <div class="col-6 mt-5 mx-5 bg-white d-flex flex-column justify-content-center">
      <h1 class="text-center mt-4" th:text="${product.getTitle()}">상품 이름</h1>
      <div class="d-flex justify-content-center">
        <span th:if="${product.status == T(com.jingeore.product.ProductStatus).MATCHING}" class="badge bg-light text-dark fs-3 text-center">매칭중</span>
        <span th:if="${product.status == T(com.jingeore.product.ProductStatus).DEALING}" class="badge bg-light text-dark fs-3 text-center">거래중</span>
        <span th:if="${product.status == T(com.jingeore.product.ProductStatus).COMPLETE}" class="badge bg-light text-dark fs-3 text-center">거래완료</span>
      </div>
      <img class="rounded mx-auto d-block mt-4" th:src="${product.getImages().get(0).getImagePath()}" alt="" width="550" height="550">
      <h3 th:text="${product.getPriceByWon()}" class="text-center mt-4"></h3>
      <div class="d-flex justify-content-center">
        <a th:if="${myAccount.isMyProduct(product)}" th:href="@{'/profile/' + ${product.buyer.getNickname()}}" class="d-flex justify-content-center mt-3 text-decoration-none">
          <svg th:if="${#strings.isEmpty(product.buyer?.profileImage)}" th:data-jdenticon-value="${product.buyer.getNickname()}" width="24" height="24" class="rounded border bg-light"></svg>
          <p th:text="${product.buyer.getNickname() }" class="h4 text-center text-dark ps-4"></p>
        </a>
        <a th:if="${!myAccount.isMyProduct(product)}" th:href="@{'/profile/' + ${product.seller.getNickname()}}" class="d-flex justify-content-center mt-3 text-decoration-none">
          <svg th:if="${#strings.isEmpty(product.seller?.profileImage)}" th:data-jdenticon-value="${product.seller.getNickname()}" width="24" height="24" class="rounded border bg-light"></svg>
          <p th:text="${product.seller.getNickname() }" class="h4 text-center text-dark ps-4"></p>
        </a>
      </div>
      <hr class="mt-5">

      <div th:if="${product.status == T(com.jingeore.product.ProductStatus).MATCHING}" class="d-flex justify-content-evenly mt-5 mb-5">
        <a href="#" data-bs-toggle="modal" data-bs-target="#requestDealing" th:if="${product.canBeChangedToDealing(myAccount)}" class="text-decoration-none">
          <h4 class="text-dark">거래 요청</h4>
        </a>
        <div class="modal fade" id="requestDealing" tabindex="-1" role="dialog" aria-labelledby="requestDealingLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="requestDealingLabel">거래 요청</h4>
              </div>
              <div class="modal-body">
                <span>거래 요청을 하시겠습니까?</span><br>
                <span>상품이 거래 상태로 넘어가게 되면 더이상 거래를 취소할 수 없게 됩니다. 거래 세부사항이 확실하게 결정되면 진행해주세요. 상대와 합의없이 거래를 진행하지 않는 경우에는 <b>패널티</b>가 부여될 수 있습니다.</span>
              </div>
              <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal" class="text-decoration-none text-dark">취소</a>
                <form th:action="@{'/request-dealing/' + ${product.getId()}}" method="post">
                  <button type="submit" class="btn btn-link text-decoration-none text-dark">확인</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="fragments.html :: cancel-matching" ></div>
      </div>
      <div th:if="${product.status == T(com.jingeore.product.ProductStatus).IN_REQUEST}" class="d-flex justify-content-around mt-5 mb-5">
        <a href="#" th:if="${product.canBeChangedToDealing(myAccount)}" data-bs-toggle="modal" data-bs-target="#requestAlreadySent" class="text-decoration-none">
          <h4 class="text-secondary">거래 요청 전송함</h4>
        </a>
        <div class="modal fade" id="requestAlreadySent" tabindex="-1" role="dialog" aria-labelledby="requestAlreadySentLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="requestAlreadySentLabel">거래 요청</h4>
              </div>
              <div class="modal-body">
                <span>이미 거래 요청이 전송되었습니다.</span><br>
                <span>판매자가 거래 요청을 수락하면 거래를 진행할 수 있습니다.</span>
              </div>
              <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal" class="text-decoration-none text-dark">확인</a>
              </div>
            </div>
          </div>
        </div>

        <div th:if="${myAccount.isMyProduct(product)}">
          <form th:action="@{'/confirm-dealing-request/' + ${product.getId()}}" method="post">
            <button type="submit" class="btn btn-link text-decoration-none text-dark">
              <h4 class="text-dark">✔ 거래 요청 수락</h4>
            </button>
          </form>
        </div>

        <div th:if="${myAccount.isMyProduct(product)}">
          <div th:replace="fragments.html :: cancel-matching"></div>
        </div>

      </div>



      <div th:if="${product.status == T(com.jingeore.product.ProductStatus).DEALING}" class="d-flex justify-content-around mt-5 mb-5">
        <a href="#" class="text-decoration-none">
          <h4 class="text-dark">거래 완료</h4>
        </a>
        <a href="#" class="text-decoration-none">
          <h4 class="text-dark">거래 취소</h4>
        </a>
      </div>
    </div>

    <div class="col-2 mt-5">
    </div>
  </div>
</div>
</body>
</html>